<?xml version="1.0" encoding="utf-8"?>
<settings>
  <jira>
    <jiraUrl>https://www.re-motion.org/jira</jiraUrl>
    <jiraProjectKey>SRCBLDTEST</jiraProjectKey>
    <useNTLM>no</useNTLM>
  </jira>
  <remoteRepositories>
    <remoteName></remoteName>
  </remoteRepositories>
  <mergeExcludedFiles>
    <fileName>
    </fileName>
    <fileName>
    </fileName>
  </mergeExcludedFiles>
  <msBuildSettings>
    <msBuildPath>C:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe</msBuildPath>
  </msBuildSettings>
  <msBuildSteps>
    <step>
      <msBuildCallArguments>
        <argument>Build\Remotion.Local.build</argument>
        <argument>/t:TestBuild</argument>
      </msBuildCallArguments>
      <commitMessage>Update Assemblyinfo to version '{version}'</commitMessage>
    </step>
  </msBuildSteps>
</settings>