<?xml version="1.0" encoding="utf-8"?>
<settings>
    <jira>
        <jiraUrl>https://re-motion.atlassian.net</jiraUrl>
        <jiraProjectKey>SRCBLDTEST</jiraProjectKey>
        <useNTLM>no</useNTLM>
    </jira>
    <remoteRepositories>
        <remoteName>origin</remoteName>
    </remoteRepositories>
    <prereleaseMergeIgnoreList>
        <fileName>AssemblyInfoShared.cs</fileName>
        <fileName>Build/Customizations/Version.props</fileName>
        <fileName>BuildScript/Main/Remotion.build</fileName>
    </prereleaseMergeIgnoreList>
    <TagStableMergeIgnoreList>
        <fileName>
        </fileName>
        <fileName>
        </fileName>
    </TagStableMergeIgnoreList>
    <developStableMergeIgnoreList>
        <fileName>AssemblyInfoShared.cs</fileName>
        <fileName>Build/Customizations/Version.props</fileName>
    </developStableMergeIgnoreList>
    <msBuildSettings>
        <msBuildPath>C:\Program Files\Microsoft Visual Studio\2022\Professional\MSBuild\Current\Bin\MSBuild.exe</msBuildPath>
    </msBuildSettings>
    <prepareNextVersionMsBuildSteps>
        <step>
            <msBuildCallArguments>
                <argument>TestBuild.build</argument>
                <argument>/t:UpdateAssemblyInfosForRelease</argument>
                <argument>/property:Version={version}</argument>
            </msBuildCallArguments>
            <commitMessage>Update metadata to version '{version}'.</commitMessage>
        </step>
    </prepareNextVersionMsBuildSteps>
    <developmentForNextReleaseMsBuildSteps>
        <step>
            <msBuildCallArguments>
                <argument>TestBuild.build</argument>
                <argument>/t:UpdateAssemblyInfosForDevelopment</argument>
                <argument>/property:Version={version}</argument>
            </msBuildCallArguments>
            <commitMessage>Update metadata to version '{version}'.</commitMessage>
        </step>
    </developmentForNextReleaseMsBuildSteps>
    <resourceStrings>
        <tagMessage>v{version}</tagMessage>
    </resourceStrings>
</settings>